<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinggg.translator.mapper.TQuestionBankMapper">

    <!--  指定搜索某篇文章  -->
    <select id="getArticleByBelong"  resultType="com.yinggg.translator.entity.TQuestionBank">
        select * from t_question_bank
        <where>
            user_id = #{userId}
<!--           <if test="belong != null and belong != ''">-->
<!--              and belong like concat("%",#{belong},"%")-->
<!--           </if>-->

        </where>
    </select>


    <!--  添加文章记录  -->
    <insert id="addQuestion" parameterType="com.yinggg.translator.entity.TQuestionBank" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO t_question_bank
        VALUES (default, #{sourceText}, #{targetText}, #{userId}, now(),#{belong})
    </insert>


</mapper>